.choices_fields_group .acf-button-group {
	width: 100%;
}
#acf-group_widgets_all .acf-tab-group li span.aba_widgets_acf_delete, .choices_fields_group .acf-button-group label .aba_widgets_acf_delete_group_field  {
	display: none;
}
#acf-group_widgets_all .acf-tab-group li:hover span.aba_widgets_acf_delete, .choices_fields_group .acf-button-group label:hover .aba_widgets_acf_delete_group_field {
	display: block;
	padding: 10px;
    top: 0;
    position: absolute;
    right: 0;
    background: #f00;
    color: #fff;
}
.choices_fields_group .acf-button-group label:hover .aba_widgets_acf_delete_group_field {
	padding: 5px 10px;
	z-index: 999;
}
#wp-admin-bar-new-content, #wp-admin-bar-comments, .user-profile-picture {
	display: none;
}
.acf-field-the-contents .acf-flexible-content .layout {
	margin: 12px !important;
	float: left;
}

.acf-field-the-contents  .acf-flexible-content .layout .acf-fc-layout-handle {
	background:#ddd;
}

.acf-field-the-contents.column_full .acf-flexible-content .values .layout {
	width: 100%;
	float:none;
}

.acf-field-the-contents.column_1 .acf-flexible-content .values .layout {
	width: 96%;
	float:none;
}

.acf-field-the-contents.column_2 .acf-flexible-content .values .layout {
	width: 48%;
}

.acf-field-the-contents.column_2_1 .acf-flexible-content .values .layout {
	width: 31%;
}
.acf-field-the-contents.column_2_1 .acf-flexible-content .values .layout:nth-child(odd) {
	width: 62%;
}

.acf-field-the-contents.column_2_2 .acf-flexible-content .values .layout {
	width: 31%;
}

.acf-field-the-contents.column_2_2 .acf-flexible-content .values .layout:nth-child(even) {
	width: 62%;
}

.acf-field-the-contents.column_3 .acf-flexible-content .values .layout {
	width: 31%;
}

.acf-field-the-contents.column_3_1 .acf-flexible-content .values .layout {
	width: 23%;
}

.acf-field-the-contents.column_3_1 .acf-flexible-content .values .layout:nth-child(3n+2) {
	width: 46%;
}

.acf-field-the-contents.column_4 .acf-flexible-content .values .layout {
	width: 23%;
}

.acf-field-the-contents.column_5 .acf-flexible-content .values .layout {
	width: 18%;
}

.acf-field-the-contents.column_6 .acf-flexible-content .values .layout {
	width: 15%;
}

.acf-field-the-contents .acf-flexible-content .values .layout {
	height: 215px;
	/* overflow: hidden; */
	opacity: 1 !important;
}

.acf-field-the-contents .acf-flexible-content .values .layout .acf-fields .acf-field:not(.grid-widget-settings) {
	display: none;
}

.acf-field-the-contents .acf-flexible-content .values .layout .acf-fc-layout-handle {
	height:100%;
	position: absolute;
	z-index: 9;
	width: 100%;
	background:transparent;
	font-size: 23px;
	background-size: contain !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	padding: 0;
}

.acf-field-the-contents .acf-flexible-content .values .layout .acf-fc-layout-handle  > .acfe-layout-title-text {
	background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, .4));
	color: #eee;
	display: flex;
	font-size: 16px;
	font-weight: bold;
	height: 100%;
	padding: 0;
	width: 100%;
}

.acf-field-the-contents .acf-flexible-content .values .layout .acf-fc-layout-handle  > .acfe-layout-title-text span {
	align-self: flex-start;
	border-radius: 5px;
	background-color: #23282d !important;
	padding: 0 8px;
	position: absolute;
	top: -28px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .2s ease-in-out;
	white-space: nowrap;
}

.acf-field-the-contents .acf-flexible-content .values .layout:hover .acf-fc-layout-handle  > .acfe-layout-title-text span {
	top: -38px;
	opacity: 1;
}

.acf-field-the-contents .acf-flexible-content .values .layout .acf-fc-layout-handle  > .acfe-layout-title-text span::before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: #23282d transparent transparent transparent;
	position: absolute;
	left: 50%;
	bottom: -7px;
	transform: translateX(-50%);
}

.acf-field-the-contents .acf-flexible-content .values .layout .acf-fc-layout-controlls {
	z-index: 9;
}

.acf-field-the-contents .acf-actions {
	clear:left;
}

.acf-field-the-contents .layout .acf-fields {
	height: 260px;
	display: block !important;
}

#poststuff, #edittag {
	display: none;
}

[data-key='field_linha_widgets'] .acf-table .acf-field[data-name='tamanho-grid'] ul li {
	float:left;
	margin-right:30px;
}

[data-key='field_linha_widgets'] .acf-table .acf-field[data-name='tamanho-grid'] ul li {
	float:left;
}

[data-key='field_linha_widgets'] .acf-table .acf-label, [data-key='field_linha_widgets'] .acf-table .acf-input {
	width: 100% !important;
}

[data-key='field_linha_widgets'] .acf-table .acf-fields.-left > .acf-field:before {
	width: 100%;
	height: 100%;
}

[data-key='field_linha_widgets'] .acf-table .acf-field-text {
	display: none;
}

.acf-flexible-content .acf-field-text {
	display: block !important;
}

#wpbody #edittag {
	width: 100% !important;
	max-width: inherit !important;
}

.acf-field-tamanho-grid .acf-label {
	display: none;
}

[data-key='field_linha_widgets'] .acf-repeater .acf-hl li [data-event="add-row"], .acf-repeater .acf-actions [data-event="add-row"] {
	border: 0 none !important;
	box-shadow: inherit !important;
	text-shadow: inherit !important;
	font-weight: bold;
	margin-top:15px;
}

[data-key='field_linha_widgets'] .no-value-message {
	margin-top: 20px;
}

.acf-repeater .acf-actions [data-event="add-row"] {
	margin-right: 44%;
}

/* ACF 5.6 */

/* Ajustes de Layout */

.acf-fields .acf-field[data-name="ajustes_de_layout"] {
	position: absolute;
	top: 12px;
	text-align: center;
	right: 50px;
	z-index: 1;
	font-size: 12px;
	cursor: pointer;
	color: #0071a1 !important;
	height: 30px !important;
	width: 30px !important;
	padding: 0 !important;
}
.acf-fields .acf-field[data-name="ajustes_de_layout"]:before {
	border: 1px solid #0071a1 !important;
	border-radius: 50%;
	text-shadow: none;
	font-weight: 600;
	font-size: 13px;
	line-height: normal;
	background: #f3f5f6 !important;
	height: 28px !important;
	width: 28px !important;
}

.acf-fields .acf-field[data-name="ajustes_de_layout"] > .acf-label {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 !important;
	height: 30px;
}

.acf-fields .acf-field[data-name="ajustes_de_layout"] > .acf-input {
	padding: 0 !important;
}

.acf-fields .acf-field[data-name="ajustes_de_layout"] > .acf-label label,
.acf-fields .acf-field[data-name="ajustes_de_layout"] > .acf-label label span {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.acf-fields .acf-field[data-name="ajustes_de_layout"] .acf-fields {
	display: none;
}

/* GrID WIDGETS */

#widget_acf_box_light .grid-widget-settings {
	display: none !important;
}
#widget_acf_box_light input[type="text"] {
	height: 35px;
    padding: 0 7px;
}
#widget_acf_box_light textarea {
	display: none;
}
#widget_acf_box_light input[type="text"].wp-color-picker {
	display: block;
}

#widget_acf_box_light .ckeditor_inline {
	border: 1px #ccc solid;
	font-size: 14px;
	font-family: Arial;
	border-radius: 3px;
	padding: 5px;
	max-height: 100px;
	min-height: 30px;
	overflow: auto;
	display: none;
}

.grid-widget-settings {
	align-items: center;
	background-color: #23282d !important;
	border: 0 !important;
	display: flex;
	position: absolute !important;
	z-index: 10;
	top: 175px;
	padding: 0 6px !important;
	width: 110px;
	height: 40px;
	right: -100px;
	opacity: 0;
	transition: all .2s ease-in-out;
}

.acf-field-the-contents .acf-flexible-content .values .layout:hover .grid-widget-settings {
	opacity: 1;
	right: -110px;
}

.grid-widget-settings--desktop {
	border-radius: 0 0 5px 5px;
}

.grid-widget-settings--tablet {
	top: 140px;
}

.grid-widget-settings--tablet::before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 8.6px 5px 0;
	border-color: transparent #23282d transparent transparent;
	position: absolute;
	left: -8px;
	top: 50%;
	transform: translateY(-50%);
}

.grid-widget-settings--mobile {
	border-radius: 5px 5px 0 0;
	top: 105px;
}

.grid-widget-settings > .acf-label {
	color: #ffffff !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 30px !important;
}

[data-key='field_linha_widgets'] .acf-table .grid-widget-settings .acf-input {
	margin-top: 0 !important;
	padding: 0 !important;
	width: 70px !important;
}

[data-key='field_linha_widgets'] .acf-table .grid-widget-settings .acf-input select {
	width: 70px;
}

[data-key='field_linha_widgets'] .fixed_box_light {
	display: none;
}

[data-key='field_linha_widgets'] .acf-flexible-content .acf-actions {
	position: absolute;
	top: -30px;
	right: 0;
}

[data-key='field_linha_widgets'] .acf-flexible-content .acf-actions .acf-button,
[data-key='field_linha_widgets'] .acf-flexible-content .acf-actions .acf-button span {
	border-radius: 50%;
	height: 30px !important;
	padding: 0 !important;
	width: 30px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.acf-flexible-content .ui-sortable {
	margin-left: -12px !important;
	margin-right: -12px !important;
}