#acf-group_widgets_all .acf-tab-group li span.aba_widgets_acf_delete {
	display: none;
}
#acf-group_widgets_all .acf-tab-group li:hover span.aba_widgets_acf_delete {
	display: block;
	padding: 10px;
    top: 0;
    position: absolute;
    right: 0;
    background: #f00;
    color: #fff;
}
#wp-admin-bar-new-content, #wp-admin-bar-comments, .user-profile-picture {
	display: none;
}
.acf-field-the-contents .acf-flexible-content .layout {
	margin: 10px 0 0 0 !important;
	float: left;
	margin-left:1.2% !important;
	/*z-index:80;*/
}

.acf-field-the-contents .acf-flexible-content .acf-actions {
	padding-top:15px;
}

.acf-field-the-contents  .acf-flexible-content .layout .acf-fc-layout-handle {
	background:#ddd;
}

.acf-field-the-contents.column_full .acf-flexible-content .values .layout {
	width: 100%;
	float:none;
}

.acf-field-the-contents.column_1 .acf-flexible-content .values .layout {
	width: 96%;
	float:none;
}

.acf-field-the-contents.column_2 .acf-flexible-content .values .layout {
	width: 48%;
}

.acf-field-the-contents.column_2_1 .acf-flexible-content .values .layout {
	width: 31%;
}
.acf-field-the-contents.column_2_1 .acf-flexible-content .values .layout:nth-child(odd) {
	width: 62%;
}

.acf-field-the-contents.column_2_2 .acf-flexible-content .values .layout {
	width: 31%;
}

.acf-field-the-contents.column_2_2 .acf-flexible-content .values .layout:nth-child(even) {
	width: 62%;
}

.acf-field-the-contents.column_3 .acf-flexible-content .values .layout {
	width: 31%;
}

.acf-field-the-contents.column_3_1 .acf-flexible-content .values .layout {
	width: 23%;
}

.acf-field-the-contents.column_3_1 .acf-flexible-content .values .layout:nth-child(3n+2) {
	width: 46%;
}

.acf-field-the-contents.column_4 .acf-flexible-content .values .layout {
	width: 23%;
}

.acf-field-the-contents.column_5 .acf-flexible-content .values .layout {
	width: 18%;
}

.acf-field-the-contents.column_6 .acf-flexible-content .values .layout {
	width: 15%;
}

.acf-field-the-contents .acf-flexible-content .values .layout {
	height: 215px;
	overflow: hidden;
	opacity: 1 !important;
}

.acf-field-the-contents .acf-flexible-content .values .layout .acf-fc-layout-handle {
	height:100%;
	position: absolute;
	z-index: 9;
	width: 100%;
	background:transparent;
	font-size: 23px;
}

.acf-field-the-contents .acf-flexible-content .values .layout .acf-fc-layout-controlls {
	z-index: 9;
}

.acf-field-the-contents .acf-actions {
	clear:left;
}

.acf-field-the-contents .layout .acf-fields {
	height: 260px;
	overflow-y: auto;
	display: block !important;
}

#poststuff, #edittag {
	display: none;
}

[data-key='field_linha_widgets'] .acf-table .acf-field[data-name='tamanho-grid'] ul li {
	float:left;
	margin-right:30px;
}

[data-key='field_linha_widgets'] .acf-table .acf-field[data-name='tamanho-grid'] ul li {
	float:left;
}

[data-key='field_linha_widgets'] .acf-table .acf-label, [data-key='field_linha_widgets'] .acf-table .acf-input {
	width:100% !important;
	padding: 15px 10px !important;
	right: 1%;
}

[data-key='field_linha_widgets'] .acf-fields.-left > .acf-field {
	padding-left:0 !important;
}

[data-key='field_linha_widgets'] .acf-table .acf-fields.-left > .acf-field:before {
	width:100% !important;
	height: 100%;
}

[data-key='field_linha_widgets'] .acf-table .acf-label label{
	margin-top: -21px;
}

[data-key='field_linha_widgets'] .acf-table .acf-field-text {
	display: none;
}

.acf-flexible-content .acf-field-text {
	display: block !important;
}

#wpbody #edittag {
	width: 100% !important;
	max-width: inherit !important;
}

.acf-field-tamanho-grid .acf-label {
	display: none;
}

[data-key='field_linha_widgets'] .acf-repeater .acf-hl li [data-event="add-row"], .acf-repeater .acf-actions [data-event="add-row"] {
	/*background: transparent !important;*/
	border: 0 none !important;
	box-shadow: inherit !important;
	/*color: #000 !important;*/
	text-shadow: inherit !important;
	font-weight: bold;
	/* margin-left: -305%; */
	margin-top:15px;
}

[data-key='field_linha_widgets'] .no-value-message {
	margin-top: 20px;
}

.acf-repeater .acf-actions [data-event="add-row"] {
	margin-right: 44%;
}

/* ACF 5.6 */

/* Ajustes de Layout */

.acf-fields .acf-field[data-name="ajustes_de_layout"] {
	width: 20%;
	position: absolute;
	top: 62px;
	text-align: center;
	left: 0%;
	height: 25px;
	z-index: 1;
	font-size: 12px;
	border: 1px #ddd solid;
	padding: 0;
	/* padding-top: 0px; */
	cursor: pointer;
	border-radius: 3px;
	/* margin-top: 0; */
	color: #fff !important;
}
.acf-fields .acf-field[data-name="ajustes_de_layout"]:before {
	background: #0073aa !important; 
}

.acf-fields .acf-field[data-name="ajustes_de_layout"] .acf-fields {
	display: none;
}

.acf_box_widgets_content input[type="number"]{
	width: auto !important;

}

/* GrID WIDGETS */

#widget_acf_box_light .grid_widget_settings {
	display: none !important;
}
#widget_acf_box_light input[type="text"] {
	height: 35px;
    padding: 0 7px;
}
#widget_acf_box_light textarea {
	display: none;
}
#widget_acf_box_light input[type="text"].wp-color-picker {
	display: block;
}

#widget_acf_box_light .ckeditor_inline {
	border: 1px #ccc solid;
	font-size: 14px;
	font-family: Arial;
	border-radius: 3px;
	padding: 5px;
	max-height: 100px;
	min-height: 30px;
	overflow: auto;
	display: none;
}

.grid_widget_settings {
	position: absolute !important;
	z-index: 10;
	top: 40px;
	background: transparent !important;
	height: 0;
	padding: 0 !important;
	right: 5px;
}

.grid_widget_settings .acf-label {
	display: none;
}

[data-key='field_linha_widgets'] .acf-table .grid_widget_settings .acf-input {
	margin-top: 30px !important;
	padding: 0 !important;
}

[data-key='field_linha_widgets'] .acf-table .grid_widget_settings .acf-input select {
	width: 70px;
}

[data-key='field_linha_widgets'] .fixed_box_light {
	display: none;
}