.choices_fields_group .acf-button-group {
	width: 100%;
}
#acf-group_widgets_all .acf-tab-group li span.aba_widgets_acf_delete, .choices_fields_group .acf-button-group label .aba_widgets_acf_delete_group_field {
	display: none;
}
#acf-group_widgets_all .acf-tab-group li:hover span.aba_widgets_acf_delete, .choices_fields_group .acf-button-group label:hover .aba_widgets_acf_delete_group_field {
	display: block;
	padding: 10px;
    top: 0;
    position: absolute;
    right: 0;
    background: #f00;
    color: #fff;
}
.choices_fields_group .acf-button-group label:hover .aba_widgets_acf_delete_group_field {
	padding: 5px 10px;
	z-index: 999;
}
.acf-field-widgets .acf-flexible-content .layout {
	margin: 12px !important;
}

.acf-field-widgets  .acf-flexible-content .layout .acf-fc-layout-handle {
	background:#ddd;
}

.acf-field-widgets .acf-flexible-content .values .layout {
	height: 215px;
	opacity: 1 !important;
}

.acf-field-widgets .acf-flexible-content .values .layout.-collapsed {
	height: 36px;
	opacity: 1 !important;
}

.acf-field-widgets .acf-flexible-content .values .layout .acf-fc-layout-controls {
	background-color: #23282d !important;
	right: 0 !important;
	opacity: 0;
	top: 0 !important;
	width: 140px;
	height: 36px;
	transition: all .2s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	border-radius: 5px;
}

.acf-field-widgets .acf-flexible-content .values .layout--hover .acf-fc-layout-controls {
	background-color: #23282d !important;
	right: -140px !important;
	opacity: 1;
}

.acf-field-widgets .acf-flexible-content .values .layout--hover .acf-fc-layout-controls .-collapse:hover {
	background: #2a9bd9 !important;
	color: #fff !important;
}

.acf-field-widgets .acf-flexible-content .values .layout--hover .acf-fc-layout-controls::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 8.6px 5px 0;
    border-color: transparent #23282d transparent transparent;
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.acf-field-widgets .acf-flexible-content .values .layout .acf-fc-layout-handle {
	height: 100%;
	position: absolute;
	z-index: 9;
	width: 100%;
	background: transparent;
	font-size: 18px;
	padding: 0;
	display: flex;
}

.acf-field-widgets .acf-flexible-content .values .layout .acf-fc-layout-handle::after {
	background-color: #fff;
	border-bottom: 1px solid #e1e1e1;
	content: "";
	height: 36px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.acf-field-widgets .acf-flexible-content .values .layout .widgets-acf-fc-placeholder {
	display: flex;
	height: calc(100% - 36px);
	padding: 0;
	width: 100%;
	justify-content: center;
	margin-top: 36px;
}

.acf-field-widgets .acf-flexible-content .values .layout .widgets-acf-fc-placeholder img {
	max-width: 100%;
}

.acf-field-widgets .acf-flexible-content .values .layout.-collapsed .widgets-acf-fc-placeholder {
	height: 0;
}

.acf-field-widgets .acf-flexible-content .values .layout .acf-fc-layout-handle  > .widgets-acf-layout-title-text {
	align-self: flex-start;
	border-radius: 5px;
	background-color: #23282d !important;
	padding: 0 8px;
	position: absolute;
	top: -28px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .2s ease-in-out;
	white-space: nowrap;
	color: #fff;
	z-index: 100;
}

/* .acf-field-widgets .acf-flexible-content .values .layout:hover .acf-fc-layout-handle  > .widgets-acf-layout-title-text {
	top: -38px;
	opacity: 1;
} */

.acf-field-widgets .acf-flexible-content .values .layout .acf-fc-layout-handle  > .widgets-acf-layout-title-text::before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: #23282d transparent transparent transparent;
	position: absolute;
	left: 50%;
	bottom: -7px;
	transform: translateX(-50%);
}

.widgets-acf-modal:not(.-open) .acf-fields {
	height: 0;
	overflow-y: hidden;
	position: unset;
}

.widgets-acf-modal.-open .grid-widget-settings {
	display: none;
}

.acf-field-tamanho-grid .acf-label {
	display: none;
}

/* GrID WIDGETS */
#widget_acf_box_light input[type="text"] {
	height: 35px;
    padding: 0 7px;
}
#widget_acf_box_light textarea {
	display: none;
}
#widget_acf_box_light input[type="text"].wp-color-picker {
	display: block;
}

.grid-widget-settings {
	align-items: center;
	background-color: #23282d !important;
	border: 0 !important;
	display: flex;
	position: absolute !important;
	z-index: 9999;
	bottom: 0;
	left: 50%;
	padding: 0 6px !important;
	width: 110px;
	height: 40px;
	opacity: 0;
	transition: all .2s ease-in-out;
	transform: translateX(-50%);
}

.acf-field-widgets .acf-flexible-content .values .layout--hover .grid-widget-settings {
	opacity: 1;
	bottom: -40px;
}

.grid-widget-settings--desktop {
	border-radius: 0 5px 5px 0;
	left: calc(50% + 110px);
}

.grid-widget-settings--tablet::before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 8.6px 5px;
	border-color: transparent transparent #23282d transparent;
	position: absolute;
	left: 50%;
	top: -8px;
	transform: translateX(-50%);
}

.grid-widget-settings--mobile {
	border-radius: 5px 0 0 5px;
	left: calc(50% - 110px);
}

.grid-widget-settings > .acf-label {
	color: #ffffff !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 30px !important;
}

.acf-field-widgets .acf-flexible-content .values .layout .acf-fc-layout-handle .acf-fc-layout-order {
	margin-left: 8px;
	margin-right: 6px;
	position: relative;
	transform: translateY(8px);
	z-index: 1;
}

[data-key='widgets'] .acf-table .grid-widget-settings .acf-input {
	margin-top: 0 !important;
	padding: 0 !important;
	width: 70px !important;
}

[data-key='widgets'] .acf-table .grid-widget-settings .acf-input select {
	width: 70px;
}

[data-key='widgets'] .acf-flexible-content > .acf-actions {
	display: flex;
	position: absolute;
	top: -36px;
	right: 0;
}

[data-key='widgets'] .acf-flexible-content > .acf-actions .acf-button {
	border-radius: 50%;
	height: 30px !important;
	padding: 0 !important;
	width: 30px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}

.acf-flexible-content > .values {
	margin-left: -12px !important;
	margin-right: -12px !important;
	display: flex;
	flex-wrap: wrap;
}

/* Add widgets */
.acf-fc-popup {
	position: fixed !important;
	width: 80vw;
	height: 75vh;
	top: 50% !important;
	left: 50% !important;
	background:rgba(0,0,0,0.9) !important;
	padding: 120px 32px 32px 32px !important;
	margin: 0 !important;
	overflow-y: auto;
	transform: translate(-50%, -50%);
}

.acf-fc-popup:before {
	border: 0 none !important;
}

.acf-fc-popup ul {
	display: flex;
	flex-wrap: wrap;
}

.acf-fc-popup li.search {
	display: flex;
	position: fixed;
	left: 43px;
	top: 43px;
	right: 44px;
}

.acf-fc-popup li.search span {
	position: absolute;
	top: 50%;
	transform: translateY(-63%);
	left: 10px;
	font-size: 32px;
}

.acf-fc-popup li.search input {
	width: 100%;
	background: transparent;
	padding: 10px 10px 10px 50px;
	color: #fff;
	font-size: 20px;
}

.acf-fc-popup li:not(.search) {
	position: relative;
	white-space: pre-wrap !important;
	width: 160px;
	height: 140px;
	border: 1px #0073aa solid;
	margin: 15.9px !important;
	display: flex;
}

.acf-fc-popup li a {
	width: 100%;
	padding: 0 !important;
	display: flex;
}

.acf-fc-popup li a img {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	object-fit: cover;
}

.acf-fc-popup li a span {
	display: flex;
	align-self: flex-end;
	background: #0073aa;
	width: 100%;
	padding: 8px;
	font-size: 16px;
	position: relative;
	z-index: 1;
}

.ckeditor_inline ul, .ckeditor_inline ol {
	padding: 0 20px !important;
	list-style: circle;
}

/*
 * widgets-acf: Title Edit
 */
 .acf-field-widgets-acf-flexible-layout-title{
    display:none;
}

input.widgets-acf-flexible-control-title{
    border:none;
    box-shadow:none !important;
    outline:none !important;
    border-radius:0;
    border-bottom:1px solid transparent !important;
    font-weight:600;
    width:auto !important;
    padding:0 !important;
    display:none;
    min-height:20px;
    vertical-align: unset;
    background:none;
}

.layout > .acf-fc-layout-handle .widgets-acf-layout-title {
    cursor: text;
	position: relative;
	z-index: 100;
	transform: translateY(5px);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	align-self: flex-start;
}

.layout > .acf-fc-layout-handle .widgets-acf-layout-title .widgets-acf-flexible-control-title {
	font-size: 18px;
}

.layout:not(.widgets-acf-flexible-title-edition) > .acf-fc-layout-handle .widgets-acf-layout-title:hover{
    background:#f4f4f4;
}

.layout.widgets-acf-flexible-title-edition > .acf-fc-layout-handle .widgets-acf-layout-title input.widgets-acf-flexible-control-title{
    display:inline-block;
    border-bottom:1px solid #ddd !important;
}

.layout.widgets-acf-flexible-title-edition > .acf-fc-layout-handle .widgets-acf-layout-title .widgets-acf-layout-title-text{
    display:none;
}

/*
 * widgets-acf: Grid
 */
/* .acf-field-widgets .acf-flexible-content .layout[data-columns-mobile='col-1 px-3'],
.acf-field-widgets .acf-flexible-content .layout[data-columns-tablet='col-md-1 px-md-3'], */
.acf-field-widgets .acf-flexible-content .layout[data-columns-desktop='col-lg-1 px-lg-3'] {
	width: calc(100% - 24px - calc(calc(100% / 12) * 11) - 2px) !important;
}

/* .acf-field-widgets .acf-flexible-content .layout[data-columns-mobile='col-2 px-3'],
.acf-field-widgets .acf-flexible-content .layout[data-columns-tablet='col-md-2 px-md-3'], */
.acf-field-widgets .acf-flexible-content .layout[data-columns-desktop='col-lg-2 px-lg-3'] {
	width: calc(100% - 24px - calc(calc(100% / 12) * 10) - 2px) !important;
}

/* .acf-field-widgets .acf-flexible-content .layout[data-columns-mobile='col-3 px-3'],
.acf-field-widgets .acf-flexible-content .layout[data-columns-tablet='col-md-3 px-md-3'], */
.acf-field-widgets .acf-flexible-content .layout[data-columns-desktop='col-lg-3 px-lg-3'] {
	width: calc(100% - 24px - calc(calc(100% / 12) * 9) - 2px) !important;
}

/* .acf-field-widgets .acf-flexible-content .layout[data-columns-mobile='col-4 px-3'],
.acf-field-widgets .acf-flexible-content .layout[data-columns-tablet='col-md-4 px-md-3'], */
.acf-field-widgets .acf-flexible-content .layout[data-columns-desktop='col-lg-4 px-lg-3'] {
	width: calc(100% - 24px - calc(calc(100% / 12) * 8) - 2px) !important;
}

/* .acf-field-widgets .acf-flexible-content .layout[data-columns-mobile='col-5 px-3'],
.acf-field-widgets .acf-flexible-content .layout[data-columns-tablet='col-md-5 px-md-3'], */
.acf-field-widgets .acf-flexible-content .layout[data-columns-desktop='col-lg-5 px-lg-3'] {
	width: calc(100% - 24px - calc(calc(100% / 12) * 7) - 2px) !important;
}

/* .acf-field-widgets .acf-flexible-content .layout[data-columns-mobile='col-6 px-3'],
.acf-field-widgets .acf-flexible-content .layout[data-columns-tablet='col-md-6 px-md-3'], */
.acf-field-widgets .acf-flexible-content .layout[data-columns-desktop='col-lg-6 px-lg-3'] {
	width: calc(100% - 24px - calc(calc(100% / 12) * 6) - 2px) !important;
}

/* .acf-field-widgets .acf-flexible-content .layout[data-columns-mobile='col-7 px-3'],
.acf-field-widgets .acf-flexible-content .layout[data-columns-tablet='col-md-7 px-md-3'], */
.acf-field-widgets .acf-flexible-content .layout[data-columns-desktop='col-lg-7 px-lg-3'] {
	width: calc(100% - 24px - calc(calc(100% / 12) * 5) - 2px) !important;
}

/* .acf-field-widgets .acf-flexible-content .layout[data-columns-mobile='col-8 px-3'],
.acf-field-widgets .acf-flexible-content .layout[data-columns-tablet='col-md-8 px-md-3'], */
.acf-field-widgets .acf-flexible-content .layout[data-columns-desktop='col-lg-8 px-lg-3'] {
	width: calc(100% - 24px - calc(calc(100% / 12) * 4) - 2px) !important;
}

/* .acf-field-widgets .acf-flexible-content .layout[data-columns-mobile='col-9 px-3'],
.acf-field-widgets .acf-flexible-content .layout[data-columns-tablet='col-md-9 px-md-3'], */
.acf-field-widgets .acf-flexible-content .layout[data-columns-desktop='col-lg-9 px-lg-3'] {
	width: calc(100% - 24px - calc(calc(100% / 12) * 3) - 2px) !important;
}

/* .acf-field-widgets .acf-flexible-content .layout[data-columns-mobile='col-10 px-3'],
.acf-field-widgets .acf-flexible-content .layout[data-columns-tablet='col-md-10 px-md-3'], */
.acf-field-widgets .acf-flexible-content .layout[data-columns-desktop='col-lg-10 px-lg-3'] {
	width: calc(100% - 24px - calc(calc(100% / 12) * 2) - 2px) !important;
}

/* .acf-field-widgets .acf-flexible-content .layout[data-columns-mobile='col-11 px-3'],
.acf-field-widgets .acf-flexible-content .layout[data-columns-tablet='col-md-11 px-md-3'], */
.acf-field-widgets .acf-flexible-content .layout[data-columns-desktop='col-lg-11 px-lg-3'] {
	width: calc(100% - 24px - calc(100% / 12) - 2px) !important;
}

/* .acf-field-widgets .acf-flexible-content .layout[data-columns-mobile='col-12 px-3'],
.acf-field-widgets .acf-flexible-content .layout[data-columns-tablet='col-md-12 px-md-3'], */
.acf-field-widgets .acf-flexible-content .layout[data-columns-desktop='col-lg-12 px-lg-3'] {
	width: calc(100% - 24px) !important;
}

/* .acf-field-widgets .acf-flexible-content .layout[data-columns-mobile='col-12 px-0'],
.acf-field-widgets .acf-flexible-content .layout[data-columns-tablet='col-md-12 px-md-0'], */
.acf-field-widgets .acf-flexible-content .layout[data-columns-desktop='col-lg-12 px-lg-0'] {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 100% !important;
}

/* .acf-field-widgets .acf-flexible-content .layout .ckeditor_inline { */
.ckeditor_inline {
	border: 1px #ccc solid;
	font-size: 14px;
	font-family: Arial;
	border-radius: 3px;
	padding: 5px;
	max-height: 100px;
	min-height: 30px;
	overflow: auto;
	text-shadow: 1px 2px 3px #666;
}

.editor-initialized {
	display: none !important;
}

.cke_float {
	z-index: 100042 !important;
}

.acf-field-layout-settings {
	padding: 0 !important;
	border: none !important;
}

.acf-field-layout-settings > .acf-label {
	display: none !important;
}

.acf-repeater.-block > table {
    border-spacing: 0 15px;
	background: 0 0;
	border: 0;
	margin-top: -15px;
	margin-bottom: -7px;
}

.acf-repeater.-block > table > tbody > tr > td {
    border-top: 1px solid #ccd0d4 !important;
	border-bottom: 1px solid #ccd0d4 !important;
	background: #f9f9f9;
}

.acf-repeater.-block > table > tbody > tr > td:first-of-type {
    border-left: 1px solid #ccd0d4 !important;
}

.acf-repeater.-block > table > tbody > tr > td:last-of-type {
    border-right: 1px solid #ccd0d4 !important;
}

.acf-icon.-copy span {
	font-size: 13px;
	transform: translateY(3px);
}

.cke_reset_all {
	z-index: 1000000000000 !important;
}

.cke_dialog_background_cover {
	z-index: 1000000 !important;
}

.acf-flexible-content .values[data-align-horizontal="start"] {
	justify-content: flex-start;
}

.acf-flexible-content .values[data-align-horizontal="center"] {
	justify-content: center;
}

.acf-flexible-content .values[data-align-horizontal="end"] {
	justify-content: flex-end;
}

.acf-flexible-content .values[data-align-horizontal="between"] {
	justify-content: space-between;
}

.acf-flexible-content .values[data-align-horizontal="around"] {
	justify-content: space-around;
}

.acf-flexible-content .values[data-align-vertical="stretch"] {
	align-items: stretch;
}

.acf-flexible-content .values[data-align-vertical="start"] {
	align-items: flex-start;
}

.acf-flexible-content .values[data-align-vertical="center"] {
	align-items: center;
}

.acf-flexible-content .values[data-align-vertical="end"] {
	align-items: flex-end;
}

.CodeMirror-hints {
	z-index: 10000000000 !important;
}

#edittag {
	max-width: unset !important;
}

.acf-widgets-table > tbody > tr > td {
	box-sizing: border-box;
	clear: both;
	display: block;
	margin: 0;
	width: 100% !important;
}

.acf-widgets-table > tbody > tr > .acf-row-handle {
	align-items: center;
	background: #fff !important;
	border: 1px solid #ccd0d4 !important;
	display: flex;
	justify-content: space-between;
}

.acf-widgets-table > tbody > tr > .acf-row-handle .acf-icon {
	align-items: center;
	display: inline-flex !important;
	justify-content: center;
	margin: 0 !important;
	position: relative !important;
	top: unset !important;
}

.acf-widgets-table > tbody > tr > .acf-row-handle .acf-icon .dashicons-admin-generic {
	align-items: center;
	display: flex;
	font-size: 14px;
	justify-content: center;
}

.acf-widgets-table > tbody > tr > .acf-row-handle .acf-fc-layout-order {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	background: #F1F1F1;
	font-size: 12px;
	color: #444;
}

.widgets-acf-section-title-text {
	color: #000;
}

.layout-settings-name {
	display: none;
}

.acf-repeater .acf-row.-collapsed > .acf-fields > .acf-field-layout-settings {
	display: block !important;
}